.home-page-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #fcfdff;
  font-family: "Inter", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  position: relative;
}

.app-logo {
  margin: 0;
  margin-top: 2vh;
}

.home-page-message {
  position: relative;
  right: 26vw;
  top: 5vh;
}

.home-page-your-restaurants {
  position: relative;
  right: 25vw;
  top: 7vh;
}

.home-page-your-restaurants-card-carousel {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  position: relative;
  left: 5vw;
  top: 8vh;
  width: 80vw;
}

.home-page-your-restaurants-card-carousel
  > .restaurant-vertical-card-container {
  margin: 0 10px;
}

.home-page-discover-restaurants {
  position: relative;
  right: 28vw;
  top: 13vh;
}

.home-page-discover-emoji {
  margin-left: 5px;
}

.home-page-discover-restaurants-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: auto;
  position: relative;
  left: 9vw;
  top: 14vh;
  width: 80vw;
  height: 30vh;
}

.home-page-owner-message {
  position: relative;
  top: 20vh;
}

.home-page-scan-button {
  margin: 50px 0 100px 0 !important;
  text-transform: none !important;
  background-color: #3e54ac !important;
  font-size: 20px !important;
  font-family: "Inter", sans-serif !important;
  font-family: "Red Hat Display", sans-serif !important;
  color: white;
  width: 200px;
  height: 65px;
  border-radius: 8px !important;
  border-color: #3e54ac;
  box-shadow: 0 0 3px #3e54ac;
  position: relative;
  top: 20vh;
}
