.home-page-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fcfdff;
  font-family: "Inter", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  position: relative;
}

.app-logo {
  margin: 0;
  padding-top: 2vh;
}

.home-page-message {
  position: absolute;
  left: 7vw;
  top: 10vh;
}

.home-page-your-restaurants {
  position: absolute;
  left: 7vw;
  top: 20vh;
}

.home-page-your-restaurants-card-carousel {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  position: relative;
  left: 7vw;
  top: 27vh;
  width: 80vw;
}

.home-page-discover-restaurants {
  position: absolute;
  left: 7vw;
  top: 50vh;
}

.home-page-discover-emoji {
  margin-left: 5px;
}
