.restaurant-horizontal-card-container {
  min-height: 80px;
  background-color: #ecf2ff;
  font-family: "Inter", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.restaurant-horizontal-card-restaurant-icon {
  margin-left: 20px;
}

.restaurant-horizontal-card-text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: flex-start;
}

.restaurant-horizontal-card-restaurant-name {
  font-weight: 500;
  position: absolute;
  top: 0px;
}

.restaurant-horizontal-card-stars {
  position: absolute;
  top: 45px;
}

.restaurant-horizontal-card-more-info-icon-button {
  position: absolute !important;
  right: 10px;
}

.restaurant-horizontal-card-more-info-icon {
  fill: black !important;
}
